<h1>Edit House</h1>
<%= form_for @house do |f| %>
   <%= f.label :name %>
   <%= f.text_field :name %>
   <%= f.label :img_url %>
   <%= f.url_field :img_url %>
   <%= f.submit 'Create' %>
<% end %>

<%= form_for @house, method: :delete do |f| %>
  <%= f.submit "Delete" %>
<% end %>
