<h1>New Character</h1>
<%= form_for @character do |f| %>
   <%= f.label :name %>
   <%= f.text_field :name %>
   <%= f.label "Game of Thrones House" %>
   <%= f.text_field :house_id %>
   <%= f.label "Picture" %>
   <%= f.text_field :img_url %>
   <%= f.submit 'Create' %>
<% end %>
